body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

button {
    /* height: 47px; */
    border-radius: 33px;
    /* padding: 0px 42px; */
    width: 100%;
}

.navbar-top ul {
    display: flex;
}
.navbar-top li {
    font-weight: 500;
    font-size: 19px;
    color: black;
    list-style-type: none;
    margin-left: 35px;
}
.seprate-nav h2 {
    font-size: 17px;
    color: #3a3838;
    font-weight: 500;
}


.navbar-top{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}


.navbar-side {
    height: 90px;
    width: 100%;
}

.navbar-side {
    height: 90px;
    width: 100%;
    background-color: white;
}
.homepage {
    color: white;
    background-color: black;
    display: flex;
}
.skill-container {
    display: flex;
}

.border-lenght {
    width: 5%;
    border-bottom: 1px solid #403d3d;
}

.border-left {
    width: 5%;
    border-bottom: 1px solid #403d3d;
    margin-left: 24px;
}
.container-home-left {
    margin-left: 170px;
    width: 50%;
}
.container-home-right {
    width: 50%;
}
.full-page-container {
    background-color: black;
    padding: 28px;
}
.search h2 {
    color: #565454;
    font-size: 18px;
    padding: 5px;
    border-radius: 21px;
    border: 1px solid;
}

  @media  (max-width: 800px) {
    .container-home-left {
        margin-left: 0px;
        max-width: 100%;
    }
    .container-home-right {
        max-width: 100%;
    }
   
    .navbar-top{
        display: initial;
      
    }
    .homepage {
      
        display: initial;
    }
    button {
       padding: 0px;
    }
   
    .navbar-side {
        height: 200px;
       
  }

